<section id="order">
    <a class="btn rgt fresher"><i class="ico duot rebuild"></i> Tải lại</a>
    <div class="pgtit">Danh sách Lệnh đã hủy [BTC-USDT]</div>
    <table id="preBuy" class="dtable" data-action="~/orders/cancel">
        <thead>
            <tr>
                <th data-ref="owner">Người mua</th>
                <th data-ref="type">Kiểu</th>
                <th data-ref="price">Giá</th>
                <th data-ref="volume">Số lượng</th>
                <th data-ref="state">Trạng thái</th>
                <th data-ref="createdat">Ngày tạo</th>
                <th data-ref="expiredat">Hết hạn</th>
                <th data-ref="finishedat">Ngày đóng</th>
            </tr>
        </thead>
    </table>
</section>