<section id="order">
    <a class="btn rgt fresher"><i class="ico duot rebuild"></i> Tải lại</a>
    <div class="pgtit">Danh sách Lệnh đã khớp [BTC-USDT]</div>
    <table id="preBuy" class="dtable" data-action="~/orders/match">
        <thead>
            <tr>
                <th data-ref="buyer">Người mua</th>
                <th data-ref="buyprice">Giá mua</th>
                <th data-ref="price">Giá khớp</th>
                <th data-ref="sellprice">Giá bán</th>
                <th data-ref="buyvolume">Lượng mua</th>
                <th data-ref="volume">Lượng khớp</th>
                <th data-ref="sellvolume">Lượng bán</th>
                <th data-ref="seller">Người bán</th>
                <th data-ref="createdat">Cập nhật</th>
            </tr>
        </thead>
    </table>
</section>