<section id="order">
    <a class="btn rgt fresher"><i class="ico duot rebuild"></i> Tải lại</a>
    <div class="pgtit">Danh sách Lệnh chờ khớp [BTC-USDT]</div>
    <div class="row">
        <div class="col s12 l6">
            <table id="preBuy" class="dtable" data-action="~/orders/all-buy">
                <thead>
                    <tr>
                        <th data-ref="owner">Người mua</th>
                        <th data-ref="type">Kiểu</th>
                        <th data-ref="price">Giá</th>
                        <th data-ref="volume">Số lượng</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col s12 l6">
            <table id="preSell" class="dtable" data-action="~/orders/all-sell">
                <thead>
                    <tr>
                        <th data-ref="owner">Người bán</th>
                        <th data-ref="type">Kiểu</th>
                        <th data-ref="price">Giá</th>
                        <th data-ref="volume">Số lượng</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>